*.jar filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
llama2/data/format_v1 filter=lfs diff=lfs merge=lfs -text
llama2/data/format_v2 filter=lfs diff=lfs merge=lfs -text
llama2/*.csv filter=lfs diff=lfs merge=lfs -text
llama2/data/format_v1/*.csv filter=lfs diff=lfs merge=lfs -text
/llama2/data/format_v2/*.csv filter=lfs diff=lfs merge=lfs -text
/llama2/data/ filter=lfs diff=lfs merge=lfs -text
/llama2/data/format_v1/.*csv filter=lfs diff=lfs merge=lfs -text
/llama2/data/format_v2/.*csv filter=lfs diff=lfs merge=lfs -text
llama2/data/.DS_Store filter=lfs diff=lfs merge=lfs -text
llama2/data/ filter=lfs diff=lfs merge=lfs -text
llama2/data filter=lfs diff=lfs merge=lfs -text
llama2/data/format_v3 filter=lfs diff=lfs merge=lfs -text
llama2/data/format_v3/train_1k_chunk_14.csv filter=lfs diff=lfs merge=lfs -text
llama2/data/format_v3/SQLQueriesV3.csv filter=lfs diff=lfs merge=lfs -text
llama2/data/train_inference.csv filter=lfs diff=lfs merge=lfs -text
